* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#output {
    resize: none;
    height: calc(100% - 2em);
    width: 100%;
}
textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}
input[type=checkbox] {
    margin-left: 1em;
}
